# Ігноруємо папку віртуального оточення. Це найголовніше!
/env/

# Ігноруємо кеш-файли та скомпільовані файли Python
__pycache__/
*.pyc

# Ігноруємо файли, які створює PyInstaller (бачу у вас main.spec)
/build/
/dist/
*.spec

# Ігноруємо папки конфігурації редакторів коду (рекомендовано)
.vscode/
.idea/


# 2 more
main.spec
__pycache__